# learning outcomes 

    Diagnose dirty data
    Side effects of dirty data
    Cleaning data
    
    Steps involved-
    Access > Explore and process > Extract > Report 
    
    Types of data-
    1) text
    2) integers
    3) decimals
    4) binary
    5) dates
    6) categories
    7) Numeric
    
    Pyhton data types
    str, int, float, bool, datetime, category
    
    3 steps -
    Stripping > Converting > Verifying

In [ ]:
# removing $ sign from the data


# strip method
sales['Revenue'] = sales ['Revenue'].str.strip('$')
sales ['Revenue'] = sales ['Revenue'].astype('int')      #astype converts the argument to integers

# check

assert sales['Revenue'].dtype= 'int'       #nothing gets returned if the condition is met

# example of this
assert 1+1 == 3

In [3]:
# example of this
assert 1+1 == 3

AssertionError:

In [4]:
# example of this
assert 1+1 == 2

# Numeric or Categorical data

# Print the information of ride_sharing
print(ride_sharing.info())

# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

# Convert user_type from integer to category
ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype('category')   #.as + type = helps to convert the data

# Write an assert statement confirming the change
assert ride_sharing['user_type_cat'].dtype == 'category'                     # .d + type = check the kind of data

# Print new summary statistics 
print(ride_sharing['user_type_cat'].describe())

# steps
#1) took the data and stripped minutes from it. 
# 2) converted to the type integers
# 3) checked if the data is in integers
# 4) 


# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.strip('minutes')



# Convert duration to integer
ride_sharing['duration_time'] = ride_sharing['duration_trim'].astype('int')

# Write an assert statement making sure of conversion
assert ride_sharing['duration_time'].dtype == 'int'

# Print formed columns and calculate average ride duration 
print(ride_sharing[['duration','duration_trim','duration_time']])
print(ride_sharing['duration_time'].mean())

# Data range constraints

        Revision-
        how to plot a histogram
        plt.hist(file_name['column'])
        plt.title('Average rating of movies form 1-5')
        
# importing data and time function to clean the data
    

# Dealing with the out of range data


# 2 ways of dropping Values- 1) filtering 2) .drop() - method

    output= folder[folder['column'] <= 5]
    
    2) output = folder.drop(folder[folder['column'] > 5] .index, inplace = True)
    
# checking 
    assert folder['column'].max()<= 5
    
# Setting outer values to 5 even if it goes behond it

    folder.loc[folder['column'] > 5, 'column'] =5 
    
    All the values got converted to 5 
    
    check 
    
    assert folder['column'].max( <=5
    # remember no output means it passed
    
# convert to date

    file_name ['column']= pd.to_datetime(file_name['column']).dt.date
    
    
    today_date = dt.date.today()
       
    # drop using filtering
    file_name= file_name [file_name ['column'] < today_date]
    
    # using drop to drop values
        file_name.drop(file_name[file_name['column'] > today_date]. index, inplace= True
        
        
    Hardcore dates with upper limit
    
        file_name.loc[file_name['column'] > today_date, 'column'] = today_date
        
    # Assert is true
    
    assert file_name.column.max().date() <= today_date

# Convert ride_date to date
ride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_date']).dt.date

# Save today's date
today = dt.date.today()

# Set all in the future to today's date
ride_sharing.loc[ride_sharing['ride_dt'] > today, 'ride_dt'] = today

    Why we used .loc in place of drop here? 

# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].max())

# getting rid of  Duplicate values

    we use .duplicated method()
    
    
    The .duplicated() method
    
    subset : list of column names to check for duplication
    keep : weather to keep first('first'), last('last') or all (False) duplicate values
    
    
    
    # checking for duplicates
    
    column_names = ['first_name', 'last_name', 'address']
    
        We choose to keep all the duplicates
        
    duplicates = file _name.duplicated (subset = column_names , keep = False) 
    
    
# output the duplicates by sort()    
    We can find duplicate rows by .sort_values method
    
    file_name [duplicates].sort_values (by = 'first_name') 


# treating them by .groupby() and .agg() methods
    file_name.drop_duplicates (inplace = True)
    
# will be grouping by column names and create duplicates

    column_names = ['first_nameM, 'last_name', 'address']
    
    summaries = {'height' : 'max', 'weight' : 'mean'}
    
       a = a.groupby(by = column_names).agg(summaries).reset_index()          
       
       # we use .reset() to have numbered indices of the defined index

# Find duplicates
duplicates = ride_sharing.duplicated (subset = 'ride_id', keep = False)

# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values(by = 'ride_id')

# Print relevant columns of duplicated_rides
print(duplicated_rides[['ride_id','duration','user_birth_year']])

# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates()

# Create statistics dictionary for aggregation function
statistics = {'user_birth_year': 'min', 'duration': 'mean'}

# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby('ride_id').agg(statistics).reset_index()

# Find duplicated values again
duplicates = ride_unique.duplicated (subset = 'ride_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]

# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0

# Text and categorical data problems
    
    3 types of data-
    1) marriage status (unmarried, married) (numerical values- 0, 1) 
   
    2) household income category (0-20k, 20-40k, ...) (numerical values - 0, 1, 2, ...) 
    
    
    3) loan status (default, paid, no loan) (0,1,2) 
    
    
## Kind of problems?
    Data entry errors  (free text and drop down)
    Parsing errors
   
## how to solve?
    3 ways-
    1) Dropping data   2) Remapping categories 3) Inferring categories
    
## concept? 
    1) Anti-joins  (mutually exclusive) A U B = what is in A, but not in B
    2) Innter-joints  (mutually inclusive) A and B = common area waht is both in A and B
    
# let's try this in python
    (I) inconsistent_categories = set (file_name['column_name']).difference(categories['column_name']
    
    
    Step -2
    
    Get and print rows with inconsitent categories-
    
    (II) inconsistent_rows = file_name['column_name'].isin(inconsistent_categories) 
    
    
    (III) inconsistent_data = file_name [inconsistent_rows]
    
    (IV) consistent_data = file_name[ inconsistent_rows]
    
   
    
    This returns a series of boolean values for consistent and inconsistent ones

# categorical variables (cleaning data in python)

    1) value inconsistency (capitalization) 
    2) collapsing too many categories to a few
    3) making sure data is of a right type
    
    
    Methods-
    
    .value_counts() --for series
        .groupby('column').count() - for DataFrame
        
     # capitalization
     file_name['column_name']= file_name['column_name].str.upper()
    
    # remove spaces
    file_name= file_name ['column_name'].str.strip()
    
    # getting output 
    file_name['column_name'].value_counts()
    
    
# collapsing data into categories
    # creating income_group from income column
    
    
   ## using qcut () from pandas
import pandas as pd
       
group_names = ['0-30K', '31K-59k', '60K-90K']
demographics['income_group'] = pd.qcut(demographics['household_income'], q= 3, labels = group_names) 
       
    # print the income_group column
demographis[['income_group', 'household_income']]

NameError: name 'demographics' is not defined

##  using cut function with bins argument to do the same job

import pandas as pd

    ranges = [0, 20000, 5000, np.inf]
    
    demographics ['income group'] = pd.cut (demographics['household_income'], bins = ranges, labels = group_names) 
    
    demographics [['inner_group', 'household_income']]

# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

# Lower dest_region column and then replace "eur" with "europe"
airlines['dest_region'] = airlines['dest_region'].str.lower() 
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

# Remove white spaces from `dest_size`
airlines['dest_size'] = airlines['dest_size'].str.strip()

# Verify changes have been effected
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

# Create wait_type column
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges, 
                                labels = label_names)

# Create mappings and replace
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

airlines['day_week'] = airlines['day'].replace(mappings)

# cleaning text data

    can of of type (names, phone numbers, emails, adresses, and more) 
    
    problems-
    1) inconsitent
        2) length violations
            3) typos

# fixing the phone number with the help of example

# replace '+' with '00'

phones['phonenumber']= phones['phonenumber'].str.replace('+', '00')   #takes in 2 values- strings being replaced
                                                                                            replaced by what
                                                                                            

to get the output-
phones



# replacing numbers below 10 to nan
 
digits = phones['phone number'].str.len()
phones.loc[digits< 10, 'phone number'] = np.nan                   #replaced by numpy's nan object
phones 

# checking 
assert digits.min() >= 10

assert phone ['phone number'].str.contains ('+|-').any() == False



# regular expression with wide ranging phone numbers in action

phones['Phone number'] = phones['Phone number'].str.replace(r'\D+', '') 

phones.head()

# Store length of each row in survey_response column
resp_length = airlines['survey_response'].str.len()

# Find rows in airlines where resp_length > 40
airlines_survey = airlines[resp_length > 40]

# Assert minimum survey_response length is > 40
assert airlines_survey['survey_response'].str.len().min() > 40

# Print new survey_response column
print(airlines_survey['survey_response'])

# Advanced data problems  (uniformity) 


## quick revision for data visulaization

import matplotlib
import matplotlib.pyplot as plt

    Scatter
plt.scatter(x = 'abc', y = 'def', data = temperatures)

    Title, x-label, and y-label
plt.title('Temperature in Celcuis March 2019 -NYC')

plt.xlabel ('Dates')

plt.ylabel('temperature in degree celcius')

plt.show()


## coming back, treating temperature data

temp_fah = temperatures.loc[temperatures['Tempertaure'] > 40, 'Tempertaure']

temp_cels = (temp_fah - 32) * (5/9) 

temperatures.loc[temperatures['Temperature'] > 40, 'Temperature'] = temp_cels





# Treating the date data

        convert to data time - but won't work
        
        birthdays['birhday'] = pd.to_datetime(birthdays['Birhtday']
        
        To make the above code work -
        
        
        birthdays['birthday'] = pd.to_datetime(birthdays['Birthday'], infer_datetime_format = True, errors = 'coerce') 
        
        
        # remark, here- infer_datetime_format attempts of to format the date time
        errors returns NaT for rows where conversion fails
## another format

        birthdays['birthday'] = birthdays['Birthday'].dt.strftime('%d-%m-%y') 
        birhtdays.head()

In [ ]:
# Find values of acct_cur that are equal to 'euro'
acct_eu = banking['acct_cur'] == 'euro'

# Convert acct_amount where it is in euro to dollars
banking.loc[acct_eu, 'acct_amount'] = banking.loc[acct_eu, 'acct_amount'] * 1.1

# Unify acct_cur column by changing 'euro' values to 'dollar'
banking.loc[acct_eu, 'acct_cur'] = 'dollar'

# Assert that only dollar currency remains
assert banking['acct_cur'].unique() == 'dollar'

# Print the header of account_opend
print(banking['account_opened'].head())

# Convert account_opened to datetime
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Infer datetime format
                                           infer_datetime_format = True,
                                           # Return missing value for error
                                           errors = 'coerce') 

# Get year of account opened
banking['acct_year'] = banking['account_opened'].dt.strftime('%Y')

# Print acct_year
print (banking['acct_year'])

# Cross field validation
1)summing of the columns to make sure that the total is equal to the required value


## data integrity 
    Use of multiple fields to sanity check the integrity of the data!
    
    example 
    sum_classes = file_name [['column1', 'column2', 'column3']].sum(axis =1) 
    chekcing = sum_classes == file_name ['column_compared']
    
    inconsistent = file_name [~column_compared]
    consistent = file_name[colum_compared]


## using same case in date data
    import pandas as pd
    import datetime as dt
    
    convert to datetime and get today's date
    
    file_name ['column_compared']= pd.to_datetime(file_name['column_compared'])
    
    today = dt.date.today(

In [7]:

import datetime as dt

today = dt.date.today()
today

datetime.date(2022, 3, 18)

# what to do in case of inconsistencies
1) drop data
2) Set to missing and impute
3) Apply rules from domain knowledge

In [ ]:
# Store fund columns to sum against
fund_columns = ['fund_A', 'fund_B', 'fund_C', 'fund_D']

# Find rows where fund_columns row sum == inv_amount
inv_equ = banking[fund_columns].sum(axis= 1) == banking ['inv_amount']

# Store consistent and inconsistent data
consistent_inv = banking[inv_equ]
inconsistent_inv = banking [~inv_equ]

# Store consistent and inconsistent data
print("Number of inconsistent investments: ", inconsistent_inv.shape[0])

In [ ]:
# Store today's date and find ages
today = dt.date.today()
ages_manual = today.year - banking['birth_date'].dt.year

# Find rows where age column == ages_manual
age_equ = banking['age'] == ages_manual

# Store consistent and inconsistent data

consistent_ages = banking [age_equ]
inconsistent_ages = banking[~age_equ]

# Store consistent and inconsistent data
print("Number of inconsistent ages: ", inconsistent_ages.shape[0])

# cleaning the missing data

# finding the missiong values 
    we use .isna() method, which retuns True for all the missing values. 
    
    Values include- NA, nan, 0, . 
    
    
    if we use .sum() method along with .isna(), it returns us the breakdown of missing values. 
    
    for eg. - print (file_name.isna().sum())
    
# packages involved to find the missing values. 
    missingno
    
    import missingno as msno
    
## how to visualize the missing data?
    msno.matrix(file_name)
    
    import missingo as msno
    import matplotlib.pyplot as plt
    
    # visaulaize missingness
    msno.matrix (file_name)
    plt.show()
    
## isolating missing and complete valaues of a variable aside

        missing = file_name [file_name['column_name'].isna()]
        complete = file_name [~file_name ['column_name'].isna()]
        
## thereafter, we use describe method to compare the results
        complete.describe()
        missing.describe()
        
# sorting the data according to us-
    sorted_file_name = file_name.sort_values(by= 'column_name')
    msno.matrix (sorted_file_name)
    plt.show()
    
## missingness types-
    1) missing completely at random (no systematic relationship) 
    2) missing at random (systematic realtionship between missing and other [observed] values)
    3) missing Not at random (systematic relationship between missing and [unobserved] values)
    
# dealing with missing data (2 approaches) -
## simple methods-
    1) drop missing data
    2) impute with statistical measures (mean, median, mode) 

## complex methods-
    1) impute using algorithmic approach
    2) impute using machine learning models
    
    
# we<ll make use of simple methods in this!

file_name_dropped = file_name.dropna(subset= ['column1']
file_name_dropped.head()

    1) replacing method- by mean
    
    file_name_mean = file_name['colomn1'].mean()
    file_name_imputed = file_name.fillna({'column1' : column1_mean})
    file_name_imputed.head()

In [ ]:
# collapsing incorrect categories of DataFrames with incorrect ones

for state in categories ['state']:
    # finding potential matches by setting limit to lenght of the survey DataFrame
    matches= process.extract (state, survey['state'], limit = survey.shape[0])
    
    # iterating over each potential match, thus seperating the ones with match rating of higher than or equal to 80
    for potential_match in matches:
        # setting the similarity score to 80 or above
        if potentail_match[1]  >= 80:
            
            # replacing it with the correct state with the loc method
            survey.loc[survey['state']] == potential_match [0], 'state'] = state

In [ ]:
# Import process from fuzzywuzzy
from fuzzywuzzy import process

# Store the unique values of cuisine_type in unique_types
unique_types = restaurants['cuisine_type'].unique()

# Calculate similarity of 'asian' to all values of unique_types
print(process.extract('asian', unique_types, limit = len(unique_types)))

# Calculate similarity of 'american' to all values of unique_types
print(process.extract('american', unique_types, limit = len(unique_types)))

# Calculate similarity of 'italian' to all values of unique_types
print(process.extract('italian', unique_types, limit = len(unique_types)))

In [ ]:
# Inspect the unique values of the cuisine_type column
print(restaurants['cuisine_type'].unique())

    RECORD LINKING JOINS DATA WITH FUZZY DUPLICATE VALUES

        Generally, we clean 2 or more data frames, generate pairs or potentially matching records, score these pairs according to string similarity and other similarity methods, and link them. 
        
        All of these steps can be achieved with the record linking package. 
        
        Generating pairs-
        we start by importing the record linkage (called blocking) 
        
        thereafter, we create an indexing object
        
        generally, we block the pairs on state
        
        
        Comparing the DataFrames

# Generating pairs in python

    # Import record linkage first
       [import recordlinkage]
       
     # create index object 
     indexer = recordlinkage.Index()
     
     
     # generate pairs blocked on state
     indexer.block('state') 
     pairs = indexer.index(census_A, census_B)
     
     
     # generate the pairs
       pairs = indexer.index (census_A, census_B) 
   
     print (pairs)

# comparing the data frames

    generate the pairs as before-
       pairs = indexer.index (census_A, census_B)
     
     create a compare object- 
     compare_columns = recordlinkage.Comapre()
     
     
     # find the exact matches of pairs of date_of_birth and state
     
    compare_columns.extract('date_of_birth', 'date_of_birth', label = 'date_of_birth')
    compare_columns.extract('state', 'state', label = 'state')
    
    # now using the string similarity
    compare_columns.string('surname', 'surname', threshold = 0.85, label = 'surname')
       compare_columns.string('address_1', 'address_1', threshold = 0.85, label = 'address_1') 
       
       
       # find matches between possible pairs and datasets in question
       
       potential_matches = compare_columns.compute(pairs, census_A, census_B)  
       
       
       #output 
       print (potential_matches)

# finding the only pairs we want

potential_matches  [potential_matches.sum(axix =1) => 2]

# useful article for record_linkage
https://medium.com/data-science-business/record-linkage-merging-disparate-datasets-8aa02a2e4535

In [1]:
@book{howard2020deep,
title={Deep Learning for Coders with Fastai and Pytorch: AI Applications Without a PhD},
author={Howard, J. and Gugger, S.},
isbn={9781492045526},
url={https://books.google.no/books?id=xd6LxgEACAAJ},
year={2020},
publisher={O'Reilly Media, Incorporated}
}

SyntaxError: invalid syntax (Temp/ipykernel_7828/4053469300.py, line 1)