# Print files to console
# Print specfic lines
# Discuss flat files

# Reading a text file

In [ ]:
filename = 'abc'                   # opening a flat file
file = open(filename, mode= 'r')   # mode 'r' is used to read; we won't be able to read the file
text = file.read()
file.close()                        # always be clean while cooking

# Writing to a file

In [ ]:
filename = 'abc'
file = open (filename, mode = 'w')
text = file.read()
file.close()

# Context manager with

In [ ]:
with open('abc.txt', 'r') as file:
    print (file.read())                        #no need to close the file with 'with statement'

In [ ]:
! ls

In [ ]:
# testing exercise


# Open a file: file
file = open('CV_Kunal.txt', mode = 'r')

# Print it
print(file.read())

# Check whether file is closed
print (file.closed)

# Close file
file.close()

# Check whether file is closed
print (file.closed)

# Reading files line by line

In [ ]:
# Read & print the first 3 lines
with open('moby_dick.txt') as file:
    print(file.readline())
    print(file.readline())
    print(file.readline())

# NumPy and Pandas are used to import numerical data


# Flat files with only numerical called MNIST  -- Case 1



# Flat files numerical data and strings (titanic.csv) - Case 2

In [ ]:
# no idea about this

import imp
imp.reload(this)

# Why importing *flat files* using NumPy?
    Because it is essential for other packages e.g.-scikit learn
    
    Morevoer, it has some built in funcitons that help us to load the files from within--like-----
    1) loadtxt()
    2) genfromtxt()

# Customising NumPy import 

    import numpy as np
filename = 'abc'
data = np.loadtxt(filename, delimiter = ',', skiprows= 1, usecols = [0,2], dtype = str) 
print (data)

    meaning of all this-
    1) usecols - selects the selected number of colomns
    2) skiprows - skips the rows or headers that are there in the text
    3) deliminter - used for spacing and adding comas in the files.
    4) dtye = str (this will ensure that all the data types are improted as strings
    
 [Remark- Although NumPy can handle such data types, but the natural place for this data types is DataFrames.]

In [ ]:
# how to get the file directly from the directory


with open('gender_submission_desktop.csv', 'r') as file:
    print (file.read())

In [ ]:
# Import package
import numpy as np

# Assign filename to variable: file
file = 'gender_submission_desktop.csv'


    
# Load file as array: digits
digits = np.loadtxt(file, delimiter=',')

# Print datatype of digits
print(digits)

# Select and reshape a row
im = digits[21, 1:]
im_sq = np.reshape(im, (28, 28))

# Plot reshaped data (matplotlib.pyplot already loaded as plt)
plt.imshow(im_sq, cmap='Greys', interpolation='nearest')
plt.show()

In [ ]:
import numpy as np


# Assign filename: file
file = 'seaslug.txt'

# Import file: data
data = np.loadtxt(file, delimiter='\t', dtype=str)

# Print the first element of data
print(data[0])

# Import data as floats and skip the first row: data_float
data_float = np.loadtxt(file, delimiter='\t', dtype=float, skiprows=1)

# Print the 10th element of data_float
print(data_float[9])

# Plot a scatterplot of the data
plt.scatter(data_float[:, 0], data_float[:, 1])
plt.xlabel('time (min.)')
plt.ylabel('percentage of larvae')
plt.show()

In [ ]:
# Remark - np.genfromtxt() imports the data from mixed data types too. 


# importing data file quickly 


data = np.genfromtxt('titanic.csv', delimiter = ',', names = True, dtype=None)

#printing specific colomn

data ['Specific_colomn_name']

# example stating this


# Import file using np.recfromcsv: d
d = np.recfromcsv('titanic.csv', delimiter= ',', names = True, dtype= None)

# Print out first three entries of d
print(d[:3])

# Why manipulating DataFrames in pandas is important?

## Exploratory data analysis
## Data wrangling
## Data preprocessing
## Building models
## Visualization

    Pandas is used for flat files management in data science or data management.

In [ ]:
import pandas as pd
filename = 'gender_submission_desktop'
data = pd.read_csv(filename)
data.head()      # to check first 5 rows of the DataFrame including the header
data_array = data.values   # convering the data to a NumPy arrays by calling the data attributes values.

In [ ]:
# example of importing data files as DataFrames

# Import pandas as pd
import pandas as pd

# Assign the filename: file
file = 'titanic.csv'

# Read the file into a DataFrame: df
df = pd.read_csv(file)

# View the head of the DataFrame
print (df.head())

In [ ]:
# Assign the filename: file
file = 'digits.csv'

# Read the first 5 rows of the file into a DataFrame: data
data = pd.read_csv(file, nrows= 5, header = None)


# Build a numpy array from the DataFrame: data_array
data_array = data.values

# Print the datatype of data_array to the shell
print(type(data_array))

In [ ]:
# Import matplotlib.pyplot as plt
import matplotlib.pyplot as plt

# Assign filename: file
file = 'titanic_corrupt.txt'

# Import file: data
data = pd.read_csv(file, sep='\t', comment='#', na_values='Nothing')

# Print the head of the DataFrame
print(data.head())

# Plot 'Age' variable in a histogram
pd.DataFrame.hist(data[['Age']])
plt.xlabel('Age (years)')
plt.ylabel('count')
plt.show()

# Data Scientists mostly used pandas to import the data files
# Use of pandas for importing SAS, Excel, MATLAB, HDF5 and Stata

  # Pickled (serialized) files ; Serialized= convert object to bytestream

In [ ]:
# Pickled files 

import pickle
with open ('pickled_fruit.pkl', 'rb') as file:      #rb= readable and binary (computer readable only)
    data = pickle.load(file)
    
print(data)


# importing Excel spredsheets

import pandas as pd
file = 'urbanpop.xlsx'
data = pd.ExcelFile(file)
print (data.sheet_names)      #this will give sheet names

# two ways of importing data (as strings, or as a float with index number)

df1 = data.parse('abc')     #sheet name, as a string
df2 = data.parse(0)         #sheet name, as a float

# More into this---
   ## customize the import (skip rows, import certain colomns, change colomn names)

In [ ]:
import os
wd = os.getcwd()   #stoes the name of current directory in a string
os.listdir(wd)      # outputs the contents of the directory in list format

# Load a sheet into a DataFrame by name: df1
df1 = xls.parse('2004')

# Print the head of the DataFrame df1
print(df1.head())

# Load a sheet into a DataFrame by index: df2
df2 = xls.parse(1)

# Print the head of the DataFrame df2
    print(df2.head())         #mistake here, i didnot add the brackets after head

In [ ]:
# Parse the first sheet and rename the columns: df1
df1 = xls.parse(0, skiprows=[0], names=['Country', 'AAM due to War(2002)'])

# Print the head of the DataFrame df1
print(df1.head())

# Parse the first column of the second sheet and rename the column: df2
df2 = xls.parse(1, usecols=[1], skiprows=[1], names=['Country'])            #missed square brackets 
                                                                            # index number starts from 0

# Print the head of the DataFrame df2
print(df2.head())

# 1. SAS (common in buisness analytics and biostatistics) and 
# 2. Stata files (academic social sciences res)

In [ ]:
# case 1
import pandas as pd
from sas7bdat import SAS7BDAT
with SAS7DAT('abc.sas7bdat') as file:
    df_sas = file.to_data_frame()
    
# case 2
data = pd.read_stata(abc.dta)     # no need to initialize context manager in this case

In [ ]:
# Import sas7bdat package
from sas7bdat import SAS7BDAT

# Save file to a DataFrame: df_sas
with SAS7BDAT('sales.sas7bdat') as file:
    df_sas = file.to_data_frame()

# Print head of DataFrame
print (df_sas.head())

# Plot histogram of DataFrame features (pandas and pyplot already imported)
pd.DataFrame.hist(df_sas[['P']])
plt.ylabel('count')
plt.show()

In [ ]:
# Import pandas
import pandas as pd

# Load Stata file into a pandas DataFrame: df
df = pd.read_stata('disarea.dta')

# Print the head of the DataFrame df
print (df.head())

# Plot histogram of one column of the DataFrame
pd.DataFrame.hist(df[['disa10']])           #question- why double squrare brackets here?
plt.xlabel('Extent of disease')
plt.ylabel('Number of countries')
plt.show()

# Importing HDF5 files

In [ ]:
import h5py
filename = 'abc.hdf5'
data =  h5py.File (filename, 'r')   # 'r' is to read 
print (type(data))

In [ ]:
for key in data.keys():
    print (key)
    
# response - meta, quality, strain

# find out the type of meta data 

for key in data ['meta'].keys():
    print (key)

    
# for description of data and detection
print (data['meta']['Description'].value. data['meta']['Detector'].value)

In [ ]:
# Import packages
import numpy as np
import h5py

# Assign filename: file
file = 'LIGO_data.hdf5'

# Load file: data
data = h5py.File(file, 'r')

# Print the datatype of the loaded file
print (type(data))

# Print the keys of the file
for key in data.keys():
    print(key)

In [ ]:
#practice excersice

# Get the HDF5 group: group
group = data['strain']

# Check out keys of group
for key in group.keys():
    print(key)

# Set variable equal to time series data: strain
strain = data['strain']['Strain'].value

# Set number of time points to sample: num_samples
num_samples = 10000

# Set time vector
time = np.arange(0, 1, 1/num_samples)

# Plot data
plt.plot(time, strain[:num_samples])
plt.xlabel('GPS Time (s)')
plt.ylabel('strain')
plt.show()

# Importing MATLAB files (Matrix laboratory)
# SciPy's loadmat() and savemat() can be used to access these

# Import package
import scipy.io

# Load MATLAB file: mat
mat = scipy.io.loadmat('albeck_gene_expression.mat')

# Print the datatype type of mat
print(type(mat))

In [ ]:
# Print the keys of the MATLAB dictionary
print(mat.keys())

# Print the type of the value corresponding to the key 'CYratioCyt'
print (type(mat['CYratioCyt']))

# Print the shape of the value corresponding to the key 'CYratioCyt'
np.shape('CYratioCyt')



# Subset the array and plot it
data = mat['CYratioCyt'][25, 5:]
fig = plt.figure()

plt.plot(data)
plt.xlabel('time (min.)')
plt.ylabel('normalized fluorescence (measure of expression)')
plt.show()

# Introduction to relational databases in Python

## each row = order
## each column = attribute

### tables are linked
### Relational database management systems (postgreSQL, MySQL, SQLite)

### Creating a database engine in Python using SQL

### package mosty used = SQLAlchemy

In [ ]:
from sqlalchemy import create_engine
engine = create_engine ('sqlite:///Northwind.sqlite')

# getting table names-
table_names = engine.table_names()
print (table_names)

In [ ]:
# exercise practice 

# Import necessary module
from sqlalchemy import create_engine

# Create engine: engine
engine = create_engine ('sqlite:///Chinook.sqlite')       (# got syntax error as i put 2 forward slashes instead of 3)

# Save the table names to a list: table_names
table_names = engine.table_names()

# Print the table names to the shell
print(table_names)

# Querying relational databases in Python

SELECT * FROM Table_name                 # hello world in SQL

SELECT * FROM Orders

# we'll use SQLAlchemy and pandas

# Workflow (5 steps; Import packages and fns , database engine, connect, query, Save results to a DataFrame, Close the connection)

In [ ]:
from sqlalchemy import create_engine                #Step 1
import pandas as pd
engine = create_engine ('sqlite: ///Northwind.sqlite')    # Step 2
con = engine.connect()                                     # Step 3
rs = con.execute ("SELECT * FROM Orders")                   # Step 4
df = pd.DataFrame (rs.fetchall())                             # Step 5
con.close()                                                    # close finally


print(df.head())             #repetition; print head
# if the names of colomns doesn't look good, fix this by 
df.colomns = rs.keys()                 # add this before closing the file


# using context manager as in first case:

from sqlalchemy import create_engine
import pandas as pd
engine = create_engine ('sqlite:///Northwind.sqlite')


with engine.connect() as  con:
    rs = con.execute ("SELECT OrderID, OrderData, ShipName FROM Orders") #difference1 (instead of *, use selectivecolomn names)
    df = pd.DataFrame(rs.fetchmany(size = 5))       #difference2 = fetchmany instead of fetchall
    df.columns = rs.keys()

# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine connection: con
con = engine.connect()

# Perform query: rs
rs = con.execute('SELECT * from Album')

# Save results of the query to DataFrame: df
df = pd.DataFrame(rs.fetchall())

# Close connection
con.close()

# Print head of DataFrame df
print(df.head())




# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute ('SELECT LastName, Title FROM Employee')
    df = pd.DataFrame(rs.fetchmany (size = 3))
    df.columns = rs.keys()

# Print the length of the DataFrame df
print(len(df))

# Print the head of the DataFrame df
print(df.head())

In [ ]:
# practice







# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute('SELECT *  FROM Employee WHERE EmployeeId >=6')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print the head of the DataFrame df
print(df.head())


# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine in context manager
with engine.connect() as con:
    rs = con.execute ('SELECT * from Employee ORDER by Birthdate')
    df = pd.DataFrame(rs.fetchall())

    # Set the DataFrame's column names
df.columns = rs.keys()

# Print head of DataFrame
print(df.head())

# Relational databases with pandas

using sequel queries and using pandas to execute them.


Same 4 liner code can be reduced to one line. 
        #(connecting, executing, passing the result to the DataFrame, finally, naming the columns)
        
Now with pandas function (read_sql_query) 

df = pd.read_sql_query('SELECT * FROM Orders', engine)

# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query('SELECT * FROM Album', engine)

# Print head of DataFrame
print(df.head())

# Open engine in context manager and store query result in df1
with engine.connect() as con:
    
    rs = con.execute("SELECT * FROM Album")
    
    df1 = pd.DataFrame(rs.fetchall())
    
    df1.columns = rs.keys()

# Confirm that both methods yield the same result
print(df.equals(df1))

In [ ]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query('SELECT * FROM Employee WHERE EmployeeId >=6 ORDER by BirthDate', engine)

# Print head of DataFrame
print(df.head())

In [ ]:
#Making use of Inner JOIN in Python (pandas)

In [ ]:
# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute('SELECT Title, Name FROM Album INNER JOIN Artist on Album.ArtistID = Artist.ArtistID')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print head of DataFrame df
print(df.head())