# learning outcomes 
    wide and long data formats
    long to wide transformation
    wide to long tranformation
    
    Stacking and unstacking colomns
    Reshaping and handling complex data, such as string colomns, and JSOM data
    
    Nested data in DataFrames
    Get summary statistics from multi-level index DataFrames

In [2]:
# shape of data


import pandas as pd
fifa_players = pd.read_csv('fifa_players.csv')
fifa_players

ModuleNotFoundError: No module named 'pandas'

In [2]:
fifa_players.shape

NameError: name 'fifa_players' is not defined

# remarks
    each row represents one feature
    A column (name) to identify same player
    
    Tidy data?
        1) better to summerize it first
        2) key-value pairs
        
     Reshaping the data(transporsing it- rows become coloumns and coloumns become rows)

# how to transpose

    File_name.set_index ('abc')[['name', 'nationality']].transpose()

# learn about pandas functions such as .melt(), .wide_to_long(), .pivot(), pivot_table()

    First step is to explore the dataset and reshape it using basic steps- 
    1)  setting different indices
    2) filtering columns
        3) flipping the DataFrame

# long format more suitable to store data Sets (long to wide) 
    Demonstrate relationship b/w variables
    time series operations with variables
    Operations that require coloumns to be unique variables
    
    
# pivoting a data set (3 arguments)     
    df.pivot (index=           , columns =           , values=           ) 
    
    Remark- omitting the values parameter to pivot all columns works in all the cases, but it needs to be omitted in some  situations
    
    
# dropping the row 
    df.drop(4, axis = 5)                   #why the axis is set to 5, no reason!
    
    
    
 # pivot tables_conditions and example
     1) when the DataFrame has more than one value for each index/column pair
     2) when there is a need to have a multi-index in the resulting pivoted DataFrame
     3) summary statistics of a large DataFrame is required-
     4) margins will provide you the maximum value for each of the columns and rows
     
     Example-
     
           df.pivot_table(index= 'Year', columns= '         ', values= '      ', aggfunc= 'mean', margins = True) 
                                1)             2)                     3)               4)              5)

# Reshaping with melf function

    Wide to long transformation
    
    df.melt(identifier_variables= ['first', 'last'], value_variables=['a', 'b'], variable_name= 'feature', value_name = 'amount')
            
            identifier_variables = id_vars
            value_variables = val_vars
            variable_name = var_name

# wide_to_long function
# note- this is a pandas function and not a data frame method

    pd.wide_to_long(df, stubnames=['a', 'b'], i=  'extension of list'  , j=   'suffix-'      )
    
    Resetting the index and applying the transformation-
    file_name.reset_index(drop = False, inplace = True)
    
        pd.wide_to_long(df, stubnames=['a', 'b'], i= ['author', 'title'], j= 'year', sep= '_', suffix='\w+')
        
            '\w+' indicates to pandas that the name of the column ends in the word
            
            
              pd.wide_to_long(df, stubnames= ['a', 'b'], i='title', j='year')
              
              Where, i= 'coloumn name(s)
                      j= new addiditonal variable created as a result
                     
              
              How to reset the index and keep it without dropping?
                  df.reset_index(drop= False, inplace= True)
                  
                  pd.wide_to_long(df, stubnames= ['a', 'b'],i=['author', 'title'], j='year')

# Working with string columns

## using pandas series string processing methods

## Can be used to split/concatinate the columns



    ## Are accessed by using the 'str' attribute
    
    # basically, here we try to understand the use of string separation from the DataFrame
    
    
    df['title'].str.split(':', expand= True)

### splitting into two columns

        df[['main title', 'sub-title']] = books['title'].str.split(':', expand= True)
        
        Now we drop the old title in order to replace it with the new one!
        
        df.drop('title', axis= 1, inplace = True)
        
        pd.wide_to_long (books, stubnames = ['a', 'b'], i= ['column_name_title_1', 'column_name_sub_title_2'], j= 'year') 

### concatinating the two columns

    df['title'].str.cat(df['sub_title'], sep = ' ')
    
    
    Doing the above method in the orignal DataFrame
    
    df['combined_title_lastname']= df['title'].str.cat(df['lastname'], sep= ' ')

### Concatinate index? (yet to go there)



        How to check the data types?
                df['title'].dtypes

# splitting the index of the df from practice
   
   
       df.index= df.index.str.split('-')
       
# getting the first element after splitting the index

            df.index = df.index.str.split('-').str.get('element_number')

In [ ]:

#Define a DataFrame hp_melt by melting the goodreads and amazon columns into a
#single column named source. Assign the name rating to the resulting value column.
#Use only the full title and the writer as identifier variables.


# Concatenate the title and subtitle separated by "and" surrounded by spaces
hp_books['full_title'] = hp_books['title'].str.cat(hp_books['subtitle'], sep =" and ") 

# Split the authors into writer and illustrator columns
hp_books[['writer', 'illustrator']] = hp_books['authors'].str.split('/', expand=True)

# Melt goodreads and amazon columns into a single column
hp_melt = hp_books.melt(id_vars=['full_title', 'writer'], 
                        var_name='source', 
                        value_vars=['goodreads', 'amazon'], 
                        value_name='rating')

# Print hp_melt
print(hp_melt)